#music {
  position: relative;
  min-height: 100vh;
}

.our-music {
  margin-top: 5px;
}

.music-text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 900px;
  text-align: center;
}

.audio-container {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.audio-player {
  position: relative;
  /* left: 0; */
  width: 100%;
  height: 406px;
}

.iframe {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid black;
  box-shadow: 1px 1px 15px #FF4B2B;
}

@media only screen and (max-width: 992px) {
  .music-text {
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media only screen and (max-width: 768px) {
  .audio-container {
    margin-left: -65px;
    margin-right: -65px;
  }
}