@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.header { 
  font-family: 'Rock Salt', cursive;
  letter-spacing: 2px;
  text-shadow: 1px 0.5px #FF4B2B;
  font-size: 15px;
}

footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  background-color: black;
}

.link-container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: rgba(255, 76, 43, 0.7);
  padding: 15px;
}

.copyright {
  font-family: 'Cinzel', serif;
  color: #4f4f4f;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}